@import "../../styles/variables.import.less";

#guestForm {
	.save {
		margin-top: 24px;
	}
}

.guests-table {
	td, th {
		padding: 20px 10px !important;

		&.action-buttons {
			text-align: center;
		}
	}

	td.action-buttons {
		padding: 18px 10px !important;
		font-size: 18px;
		color: @btn-color;
		
		span {
			cursor: pointer;

			&:hover {
				color: @btn-hover-color;
			}
		}
	}
}