@import "../styles/variables.import.less";

.control-panel {
	padding-top: 75px;

	.btn-file {
		position: relative;
		overflow: hidden;
		cursor: pointer;

		input[type=file] {
			position: absolute;
			top: 0;
			right: 0;
			min-width: 100%;
			min-height: 100%;
			font-size: 100px;
			text-align: right;
			filter: alpha(opacity=0);
			opacity: 0;
			outline: none;
			background: white;
			cursor: inherit;
			display: block;
		}
	}
}

.navbar {
	#logo-small {
		height: 23px;
		opacity: 0.9;
		margin-right: 20px;
		margin-top: -8px;	
	}
}


.navbar-default {
	border: none;
	background-color: @navbar-bg-color;
	color: @navbar-text-color;

	.navbar-nav > li > a {
		color: @navbar-text-color;

		&:hover {
			color: @navbar-text-hover-color;
		}
	}

	.navbar-nav > li.active > a {
		background-color: @panel-headers-bg-color;
		color: @navbar-text-color;

		&:hover {
			color: @navbar-text-hover-color;
			background-color: @panel-headers-bg-color;
		}
	}

	.navbar-text {
		color: @navbar-text-color;
	}
}

body {
	background-color: @body-bg-color;
}

.panel-default>.panel-heading {
	background-color: @panel-headers-bg-color;
	color: #fff;
}

.panel-default {
	border: none;
}

.panel {
	background-color: @panel-bg-color;
}

.btn-info, .at-btn {
	color: #fff;


	background-color: @btn-color;
	border-color: @btn-border-color;

	&:hover, &:active, &:focus, &[disabled] {
		color: #fff;
		background-color: @btn-hover-color;
		border-color: @btn-hover-border-color;
	}
}